* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
} 
body {
	font-family: arial;
	font-size: 13px;
	line-height: 1.5em;
	color:#000;
	background: linear-gradient(to bottom,#000 0%,#0F3 50%,#0F3 50%,#000);*/
	/*background: linear-gradient(to bottom,#03C 0%,#0F3 50%,#0F3 50%,#03C);*/
	/*background: linear-gradient(to bottom,#000 0%,#F3C 50%,#F3C 50%,#000);*/
}
/*299A0B  #0F3  90C*/
#fin {
	/*background: linear-gradient(to bottom,#000 0%,#F3C 50%,#F3C 50%,#000);*/
	background: linear-gradient(to bottom,#000 0%,#0F3 50%,#0F3 50%,#000);*/
}
button {
	background-color: transparent;
}
#imagen img {
	text-align: center;
	width: 70%;
	height: 70%;
}
#todo {
	text-align:center;
}
h1 {
	color: #909;
}
input {
	color: #FFF;
}